<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-3 col-md-12">
      <div class="border-bottom mb-4 pb-4">
        <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
        <form>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
          >
            <input
              type="checkbox"
              class="custom-control-input"
              checked
              id="price-all"
            />
            <label class="custom-control-label" for="price-all"
              >All Price</label
            >
            <span class="badge border font-weight-normal">1000</span>
          </div>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
          >
            <input type="checkbox" class="custom-control-input" id="price-1" />
            <label class="custom-control-label" for="price-1">$0 - $100</label>
            <span class="badge border font-weight-normal">150</span>
          </div>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
          >
            <input type="checkbox" class="custom-control-input" id="price-2" />
            <label class="custom-control-label" for="price-2"
              >$100 - $200</label
            >
            <span class="badge border font-weight-normal">295</span>
          </div>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
          >
            <input type="checkbox" class="custom-control-input" id="price-3" />
            <label class="custom-control-label" for="price-3"
              >$200 - $300</label
            >
            <span class="badge border font-weight-normal">246</span>
          </div>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
          >
            <input type="checkbox" class="custom-control-input" id="price-4" />
            <label class="custom-control-label" for="price-4"
              >$300 - $400</label
            >
            <span class="badge border font-weight-normal">145</span>
          </div>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between"
          >
            <input type="checkbox" class="custom-control-input" id="price-5" />
            <label class="custom-control-label" for="price-5"
              >$400 - $500</label
            >
            <span class="badge border font-weight-normal">168</span>
          </div>
        </form>
      </div>
      <div class="mb-5"></div>
    </div>
    <div class="col-lg-9 col-md-12">
      <div class="row pb-3">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <form action="">
              <div class="input-group">
                <input
                  [(ngModel)]="keyword"
                  name="keyword"
                  type="text"
                  class="form-control"
                  placeholder="Search by name"
                />
                <div class="input-group-append">
                  <span
                    (click)="getAllProducts()"
                    class="input-group-text bg-transparent text-primary"
                    [ngStyle]="{ cursor: 'pointer' }"
                  >
                    <i class="fa fa-search"></i>
                  </span>
                </div>
              </div>
            </form>
            <div class="ml-4">
              <select
                [(ngModel)]="sortBy"
                name="sortBy"
                (ngModelChange)="getAllProducts()"
                class="custom-select"
              >
                <option value="">--Please select--</option>
                <option value="Newest">Newest</option>
                <option value="Oldest">Oldest</option>
                <option value="A - Z">A - Z</option>
                <option value="Z - A">Z - A</option>
                <option value="Price Low to High">Price Low to High</option>
                <option value="Price High to Low">Price High to Low</option>
              </select>
            </div>
          </div>
        </div>
        <div
          class="col-lg-4 col-md-6 col-sm-12 pb-1"
          *ngFor="let product of products"
        >
          <div class="card product-item border-0 mb-4">
            <div
              class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
            >
              <img class="img-fluid w-100" [src]="product.imgUrl" alt="" />
            </div>
            <div
              class="card-body border-left border-right text-center p-0 pt-4 pb-3"
            >
              <h6 class="text-truncate mb-3">{{ product.productName }}</h6>
              <div class="d-flex justify-content-center">
                <h6>${{ product.price }}</h6>
                <h6 class="text-muted ml-2">
                  <del>${{ product.price - 3 }}</del>
                </h6>
              </div>
            </div>
            <div
              class="card-footer d-flex justify-content-between bg-light border"
            >
              <a
                href=""
                class="btn btn-sm text-dark p-0"
                [routerLink]="['/shop', product._id]"
                ><i class="fas fa-eye text-primary mr-1"></i>View Detail</a
              >
              <a (click)="addToCart(product)" class="btn btn-sm text-dark p-0"
                ><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To
                Cart</a
              >
            </div>
          </div>
        </div>
        <div class="col-12 pb-1" *ngIf="pages > 1">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mb-3">
              <li [ngClass]="page === 1 ? 'page-item disabled' : 'page-item'">
                <a
                  class="page-link"
                  [routerLink]="['/shop']"
                  [queryParams]="{ pageNumber: page - 1 }"
                  aria-label="Previous"
                >
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <span *ngFor="let x of pagesToArr()">
                <li
                  [ngClass]="x + 1 === page ? 'page-item active' : 'page-item'"
                  [routerLink]="['/shop']"
                  [queryParams]="{ pageNumber: x + 1 }"
                >
                  <a class="page-link">{{ x + 1 }}</a>
                </li>
              </span>
              <li
                [ngClass]="page === pages ? 'page-item disabled' : 'page-item'"
              >
                <a
                  class="page-link"
                  [routerLink]="['/shop']"
                  [queryParams]="{ pageNumber: page + 1 }"
                  aria-label="Next"
                >
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
